/* LESS Document */
/* LESS Document */
/* LESS Document */
@font-face {
  font-family: 'Bebas Neue';
  font-weight: bold;
  src: url("fonts/BebasNeueBold.ttf");
}
@font-face {
  font-family: 'Bebas Neue';
  font-weight: normal;
  src: url("fonts/bebas-neue.ttf");
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/ProximaNova-Light.otf");
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: italic;
  src: url("fonts/ProximaNova-LightIt.otf");
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/ProximaNova-Bold.otf");
}
i {
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-style: italic;
}
b,
strong {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: bold;
}
body {
  color: #000;
  font-family: 'Proxima Nova';
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
  margin: 0;
  padding: 0;
  text-align: center;
}
img {
  max-width: 100%;
}
p {
  margin: 0;
  line-height: 1.4em;
}
a {
  color: #000;
  text-decoration: none;
}
p a {
  border-bottom: 2px solid #84CAE0;
  padding-bottom: 3px;
  transition: border-bottom-color 0.2s ease-in-out;
  -moz-transition: border-bottom-c 0.2s ease-in-out;
  -o-transition: border-bottom-color 0.2s ease-in-out;
  -webkit-transition: border-bottom-color 0.2s ease-in-out;
}
p a:hover {
  border-bottom-color: #344F75;
}
h1,
h2,
h3 {
  font-family: 'Bebas Neue';
  margin: 0;
  font-weight: bold;
  line-height: 1em;
}
h1 {
  font-size: 70px;
}
@media (min-width: 768px) {
  h1 {
    font-size: 105px;
  }
}
h2 {
  font-size: 38px;
}
@media (min-width: 768px) {
  h2 {
    font-size: 57px;
  }
}
h3 {
  font-size: 28px;
}
@media (min-width: 768px) {
  h3 {
    font-size: 35px;
  }
}
h4 {
  font-family: 'Proxima Nova';
  font-size: 25px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 0;
}
@media (min-width: 768px) {
  h4 {
    font-size: 52px;
  }
}
ul,
ol {
  margin: 0;
  padding: 0;
}
.feature-text {
  font-size: 24px;
}
@media (min-width: 768px) {
  .feature-text {
    font-size: 37px;
  }
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
@media (min-width 768px) {
  .inner {
    padding: 0;
  }
}
.btn {
  background: #344F75;
  border: 2px solid #344F75;
  display: inline-block;
  transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
}
.btn a {
  display: block;
  font-family: 'Bebas Neue';
  font-size: 24px;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}
.btn:hover {
  background: transparent;
}
.caption {
  font-style: italic;
  font-size: 16px;
  margin: 20px auto 0 auto;
}
.disclaimer {
  font-style: italic;
  font-size: 16px;
  line-height: 32px;
  margin-top: 65px;
}
.disclaimer a {
  font-style: normal;
}
.disclaimer a:hover {
  color: #344F75;
}
/* LESS Document */
/* NAV */
.nav-intro-active a {
  background: #344F75 !important;
}
.nav-achieved-active a {
  background: #84CAE0 !important;
}
#nav {
  position: fixed;
  left: 25px;
  top: 50%;
}
#nav ul {
  list-style: none;
  text-align: left;
}
#nav li {
  height: 25px;
  margin-bottom: 15px;
}
#nav a {
  background: #d8d8d8;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 25px;
  -webkit-transition: all 500ms ease-in;
  transition: all 500ms ease-in;
}
#nav a:after {
  display: inline-block;
  clear: both;
  font-weight: 600;
  margin-left: 32px;
  opacity: 0;
  text-transform: uppercase;
  vertical-align: top;
  width: 165px;
  -webkit-transition: opacity 500ms ease-in;
  transition: opacity 500ms ease-in;
}
#nav a:hover:after {
  opacity: 1;
}
#nav .nav-intro a:hover {
  background: #344F75;
}
#nav .nav-intro a:after {
  content: 'Intro';
  color: #344F75;
}
#nav .nav-achieved a:hover {
  background: #84CAE0;
}
#nav .nav-achieved a:after {
  content: 'You Achieved';
  color: #84CAE0;
}
#nav .nav-involved a:hover {
  background: #85A6D6;
}
#nav .nav-involved a:after {
  content: 'You got Involved';
  color: #85A6D6;
}
#nav .nav-united a:hover {
  background: #A4D176;
}
#nav .nav-united a:after {
  content: 'You United';
  color: #A4D176;
}
#nav .nav-forward a:hover {
  background: #5CD2B8;
}
#nav .nav-forward a:after {
  content: 'You Look Forward';
  color: #5CD2B8;
}
/* MAIN CONTENT SECTIONS */
.you .section-header {
  background-color: #344F75;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
}
.you .section-header h4 {
  color: #ffffff;
}
.you .section-header h4 span {
  font-weight: bold;
}
@media (min-width: 768px) {
  .you .section-header {
    min-height: 350px;
    padding: 95px 0;
  }
}
.counter {
  font-family: 'Bebas Neue';
  font-weight: bold;
}
.section-content {
  padding: 50px 0 ;
}
.section-content h2 {
  margin-bottom: 90px;
}
@media (min-width: 768px) {
  .section-content {
    padding-bottom: 100px;
  }
}
.feature-quote {
  margin-top: 90px;
  text-align: center;
}
.feature-quote p {
  color: #ffffff;
  font-size: 24px;
}
@media (min-width: 768px) {
  .feature-quote p {
    font-size: 37px;
  }
}
.feature-quote .credit {
  margin-top: 25px;
  font-size: 18px;
}
@media (min-width: 768px) {
  .feature-quote .credit {
    font-size: 26px;
  }
}
.number-col p {
  font-size: 24px;
}
@media (min-width: 768px) {
  .number-col p {
    font-size: 37px;
  }
}
.info-row {
  margin: 0 0 90px 0;
}
.figure-col {
  margin: 35px 0;
}
@media (min-width: 768px) {
  .info-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .info-row .number-col,
  .info-row .figure-col {
    margin: 0 25px;
    width: 50%;
  }
  .figure-col {
    margin: 0;
  }
}
header {
  background: #344F75;
  color: #ffffff;
  padding: 40px 0;
}
header img {
  width: 150px;
}
header h1 {
  margin-top: 30px;
  font-size: 44px;
}
header p {
  font-size: 21px;
  letter-spacing: 2px;
}
header span {
  font-weight: bold;
}
@media (min-width: 768px) {
  header h1 {
    font-size: 110px;
  }
  header p {
    font-size: 32px;
  }
}
header span {
  -webkit-animation: yearcolor 3s infinite alternate;
  /* Safari 4+ */
  -moz-animation: yearcolor 3s infinite alternate;
  /* Fx 5+ */
  -o-animation: yearcolor 3s infinite alternate;
  /* Opera 12+ */
  animation: yearcolor 3s infinite alternate;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes yearcolor {
  0% {
    color: #ffffff;
  }
  25% {
    color: #84CAE0;
  }
  50% {
    color: #85A6D6;
  }
  75% {
    color: #A4D176;
  }
  100% {
    color: #5CD2B8;
  }
}
/* JIM'S INTRO */
#intro .inner {
  padding: 60px 15px;
}
#intro .hello {
  font-size: 57px;
}
#intro h4,
#intro p {
  margin-bottom: 40px;
}
#intro .letter {
  text-align: left;
}
#intro p {
  font-size: 18px;
  line-height: 30px;
}
#intro p span {
  font-weight: bold;
}
@media (min-width: 768px) {
  #intro p {
    font-size: 26px;
    line-height: 40px;
  }
}
#intro .jim-image p {
  font-size: 22px;
  line-height: 1.4em;
  margin-top: 15px;
}
@media (min-width: 992px) {
  #intro .inner {
    display: flex;
    align-items: center;
  }
  #intro .letter {
    width: 60%;
    margin-right: 45px;
  }
}
/* YOU ACHIEVED */
#achieved .section-header {
  background-image: url('images/you-achieved-hero.jpg');
  background-position: right;
}
@supports (background-blend-mode: multiply) {
  #achieved .section-header {
    background-image: url('images/you-achieved-hero-bw.jpg');
    background-blend-mode: luminosity;
  }
}
#achieved .section-header h1 {
  color: #84CAE0;
}
#benchmarking {
  background: #84CAE0;
}
#benchmarking h2 {
  color: #ffffff;
}
#benchmarking .graphs ul {
  list-style: none;
}
#benchmarking .graphs ul li {
  margin-bottom: 45px;
}
#benchmarking .graphs ul li:last-child {
  margin-bottom: 0;
}
@media (min-width: 900px) {
  #benchmarking .graphs ul {
    display: flex;
  }
  #benchmarking .graphs ul li {
    margin: 10px 20px;
  }
}
#benchmarking .graphs .piesite {
  margin: 0 auto;
}
#benchmarking .graphs .graph {
  width: 33%;
}
#benchmarking .graphs p {
  color: #ffffff;
  font-size: 22px;
  margin-top: 20px;
  padding: 0;
}
@media (min-width: 768px) {
  #benchmarking .graphs p {
    font-size: 32px;
  }
}
#benchmarking .graphs p span {
  font-weight: bold;
}
#benchmarking .disclaimer,
#benchmarking .disclaimer a {
  color: #2985a2;
}
#benchmarking .disclaimer a {
  border-bottom-color: #2985a2;
  -moz-transition: border-bottom-c 0.2s ease-in-out;
  -o-transition: border-bottom-color 0.2s ease-in-out;
  -webkit-transition: border-bottom-color 0.2s ease-in-out;
}
#benchmarking .disclaimer a:hover {
  border-bottom-color: #344F75;
}
#comp-guide {
  background: #ffffff;
}
#comp-guide h2 {
  color: #344F75;
}
#comp-guide .counter {
  color: #ffffff;
  font-size: 40px;
  line-height: 34px;
  position: absolute;
  right: 15px;
  top: 48px;
}
#comp-guide .counter:before {
  content: '$';
  display: inline;
}
@media (min-width: 768px) {
  #comp-guide .counter {
    line-height: 53px;
  }
}
@media (min-width: 992px) {
  #comp-guide .counter {
    float: left;
    font-size: 35px;
    position: relative;
    right: auto;
    top: 10px;
  }
}
@media (min-width: 1080px) {
  #comp-guide .counter {
    font-size: 40px;
  }
}
#comp-guide .bar::after {
  display: table;
  content: '';
  clear: both;
}
#comp-guide .bar,
#comp-guide h3 {
  text-align: left;
  position: relative;
}
#comp-guide .rectangle {
  height: 65px;
  width: 0;
  -webkit-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}
@media (min-width: 992px) {
  #comp-guide .rectangle {
    float: left;
    margin-right: 10px;
  }
}
#comp-guide .grow .cfe .rectangle {
  width: 100%;
}
#comp-guide .grow .noncfe .rectangle {
  width: 100%;
}
@media (min-width: 992px) {
  #comp-guide .grow .cfe .rectangle {
    width: 89%;
  }
  #comp-guide .grow .noncfe .rectangle {
    width: 68%;
  }
}
#comp-guide .cfe {
  width: 89%;
  margin-bottom: 55px;
}
#comp-guide .cfe h3 {
  color: #344F75;
}
#comp-guide .cfe .rectangle {
  background: #344F75;
}
#comp-guide .cfe img {
  width: 500px;
}
@media (min-width: 992px) {
  #comp-guide .cfe {
    width: 100%;
  }
  #comp-guide .cfe .counter {
    color: #344F75;
  }
}
#comp-guide .noncfe {
  width: 68%;
}
#comp-guide .noncfe h3 {
  color: #84CAE0;
}
#comp-guide .noncfe .rectangle {
  background: #84CAE0;
}
@media (min-width: 992px) {
  #comp-guide .noncfe {
    width: 100%;
  }
  #comp-guide .noncfe .counter {
    color: #84CAE0;
  }
}
#comp-guide .disclaimer,
#comp-guide .disclaimer a {
  color: #a7a7a7;
}
#ideas {
  background: #84CAE0;
  color: #ffffff;
}
@media (max-width: 767px) {
  #ideas .number-col {
    margin-bottom: 75px;
  }
}
#cfe {
  background: #ffffff;
  color: #84CAE0;
}
#cfe .info-row {
  flex-direction: row-reverse;
}
#cfe .feature-quote p {
  color: #84CAE0;
}
/* YOU GOT INVOLVED */
#got-involved .section-header {
  background-image: url('images/you-got-involved-hero.jpg');
}
@supports (background-blend-mode: multiply) {
  #got-involved .section-header {
    background-image: url('images/you-got-involved-hero-bw.jpg');
    background-blend-mode: luminosity;
  }
}
#got-involved .section-header h1 {
  color: #85A6D6;
}
@-webkit-keyframes textblock1 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes textblock2 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes textblock3 {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
#community {
  background: #85A6D6;
  color: #344F75;
}
#community .figure-col {
  position: relative;
}
#community .figure-col svg {
  width: 100%;
}
#community .figure-col .text-blocks {
  margin: 0;
  position: absolute;
  top: 30%;
  width: 100%;
}
@media (min-width: 925px) {
  #community .figure-col .text-blocks {
    top: 24%;
  }
}
#community .figure-col .text-blocks span {
  background: #d8d8d8;
  border-radius: 32px;
  display: inline-block;
  height: 30px;
  margin: 0 2%;
  width: 30px;
}
@media (min-width: 925px) {
  #community .figure-col .text-blocks span {
    height: 50px;
    width: 50px;
  }
}
#community .figure-col .text-blocks .tb-1 {
  -webkit-animation: textblock1 500ms infinite alternate;
  /* Safari 4+ */
  -moz-animation: textblock1 500ms infinite alternate;
  /* Fx 5+ */
  -o-animation: textblock1 500ms infinite alternate;
  /* Opera 12+ */
  animation: textblock1 500ms infinite alternate;
  /* IE 10+, Fx 29+ */
}
#community .figure-col .text-blocks .tb-2 {
  -webkit-animation: textblock2 800ms infinite alternate;
  /* Safari 4+ */
  -moz-animation: textblock2 800ms infinite alternate;
  /* Fx 5+ */
  -o-animation: textblock2 800ms infinite alternate;
  /* Opera 12+ */
  animation: textblock2 800ms infinite alternate;
  /* IE 10+, Fx 29+ */
}
#community .figure-col .text-blocks .tb-3 {
  -webkit-animation: textblock3 1000ms infinite alternate;
  /* Safari 4+ */
  -moz-animation: textblock3 1000ms infinite alternate;
  /* Fx 5+ */
  -o-animation: textblock3 1000ms infinite alternate;
  /* Opera 12+ */
  animation: textblock3 1000ms infinite alternate;
  /* IE 10+, Fx 29+ */
}
@media (min-width: 925px) {
  #community .info-row-alt .text-blocks {
    top: 22%;
  }
}
@media (max-width: 767px) {
  #community .info-row {
    margin: 75px 0 0 0;
  }
  #community .info-row-alt {
    margin: 0 0 75px 0;
  }
  #community .info-row-alt .figure-col {
    display: none;
  }
}
@media (min-width: 768px) {
  #community .info-row div {
    width: 50%;
  }
}
#gave-back {
  background: #344F75;
  color: #85A6D6;
}
#gave-back .caption {
  color: #c3d1e5;
}
#gave-back .caption span {
  font-style: normal;
}
#fraud-week {
  background: #ffffff;
  color: #85A6D6;
}
#fraud-week .caption {
  color: #999999;
}
#fraud-week .figure-col {
  margin: 0 0 90px 0;
}
@media (min-width: 768px) {
  #fraud-week .info-row {
    flex-direction: row-reverse;
    margin-bottom: 70px;
  }
  #fraud-week .figure-col {
    margin-bottom: 75px;
  }
  #fraud-week .info-row-alt {
    flex-direction: row;
  }
}
/* YOU UNITED */
#united .section-header {
  background-image: url('images/you-united-hero.jpg');
}
@supports (background-blend-mode: multiply) {
  #united .section-header {
    background-image: url('images/you-united-hero-bw.jpg');
    background-blend-mode: luminosity;
  }
}
#united .section-header h1 {
  color: #A4D176;
}
#united .section-header h4 span {
  color: #A4D176;
}
#conferences {
  background: #A4D176;
}
#conferences h2 {
  color: #344F75;
}
.event {
  background: #ffffff;
  margin-bottom: 25px;
  text-align: left;
}
.event p span {
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.event img {
  width: 100%;
}
.event-quote {
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  margin: 15px 0;
  padding: 10px;
  text-align: center;
}
.event-quote p {
  font-size: 18px;
  font-weight: 100;
}
.event-details {
  padding: 15px;
}
.event-details h3 {
  margin-top: 5px;
}
.event-details .btn {
  margin-top: 10px;
}
.event-details .btn a {
  color: #ffffff;
}
.event-details .btn:hover a {
  color: #344F75;
}
#partnerships {
  background: #344F75;
}
#partnerships h2 {
  color: #A4D176;
}
#partnerships .partnership-logo {
  margin-top: 20px;
  text-align: center;
}
#partnerships .partnership-logo img {
  width: auto;
}
#chapters {
  background: #ffffff;
  color: #A4D176;
}
@media (min-width: 575px) {
  .mixed-event-features {
    display: flex;
    justify-content: space-between;
  }
  .mixed-event-features .event {
    max-width: 580px;
    width: 48%;
  }
}
@media (min-width: 992px) {
  .event {
    margin-bottom: 0;
  }
  .event p span {
    font-size: 16px;
  }
  .big-event {
    margin: 35px 0;
  }
  .event-quote p {
    font-size: 22px;
  }
  .event-details {
    padding: 25px;
  }
}
@media (min-width: 768px) {
  #chapters .number-col {
    width: 30%;
  }
  #chapters .figure-col {
    width: 70%;
  }
}
#chapters .caption {
  color: #a9a9a9;
}
#chapters #chapter-map {
  max-width: 800px;
  margin: 0 auto;
}
#chapters .loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
#chapters .highcharts-container {
  border: 1px solid #eee;
  width: auto;
}
/* YOU LOOK FORWARD */
#forward .section-header {
  background-image: url('images/you-look-forward-hero.jpg');
  background-position: center;
}
@supports (background-blend-mode: multiply) {
  #forward .section-header {
    background-image: url('images/you-look-forward-hero-bw.jpg');
    background-blend-mode: luminosity;
  }
}
#forward .section-header h1 {
  color: #5CD2B8;
}
#forward-things.section-content {
  padding: 0 0 75px 0;
}
#forward-things {
  background: #5CD2B8;
}
#forward-things .feature-text {
  color: #ffffff;
  line-height: 1em;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  #forward-things .feature-text {
    font-size: 65px;
  }
}
#forward-things .btn a {
  color: #5CD2B8;
}
#forward-things .btn:hover a {
  color: #344F75;
}
#forward-things .carousel-indicators {
  bottom: -55px;
  position: relative;
  left: auto;
  margin: 0 auto;
  width: auto;
}
#forward-things .carousel-control {
  display: none;
}
@media (min-width: 768px) {
  #forward-things .carousel-control {
    display: block;
  }
}
/* FOOTER */
/* LESS Document */
footer {
  background: #344F75;
  color: #ffffff;
  padding-bottom: 25px;
}
footer img {
  width: 150px;
}
footer a {
  color: #ffffff;
}
footer .inner {
  padding: 30px 15px;
}
footer .inner:after {
  display: block;
  content: '';
  clear: both;
}
footer .acfe-credit {
  text-align: left;
}
footer .acfe-credit p {
  margin-top: 20px;
}
footer .acfe-credit .copyright {
  font-size: 14px;
  font-style: italic;
  margin-top: 65px;
}
footer .social {
  text-align: left;
  margin-bottom: 25px;
}
footer .social ul {
  list-style: none;
}
footer .social li {
  background: #ffffff;
  border-radius: 25px;
  display: inline-block;
  line-height: 24px;
  margin: 0 3px;
  padding: 10px;
  text-align: center;
  height: 40px;
  width: 40px;
}
footer .social li a {
  display: block;
}
footer .social li i {
  color: #344F75;
  font-size: 18px;
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
}
footer .social li:hover i {
  color: #84CAE0;
}
@media (min-width: 768px) {
  footer .acfe-credit {
    float: left;
    width: 60%;
  }
  footer .social {
    float: right;
    text-align: right;
  }
}
